.whatsapp-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #25D366;
  border-radius: 50%;
  padding: 12px;
  box-shadow: 0 0 10px  #25D366;
  transition: transform 0.2s ease;
}

.whatsapp-btn:hover {
  transform: scale(1.1);
}

.whatsapp-btn img {
  width: 32px;
  height: 32px;
  display: block;
}